{% extends 'base.html.twig' %}

{% block title 'Editer' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer un Pays</h1>
        {{ include('admin/pays/_form.html.twig', {button: 'Editer'}) }}

        <br><a href="{{ path('admin.pays.index') }}" class="btn btn-primary">Retourner à la liste</a>
    </div>
{% endblock %}

